<% provide(:title, "Bio") %>
<section class="center border" id="main">
	<p class="indent">
		Preston Gunderson is a singer songwriter originally from the Iron Range 
		located in Northern Minnesota. His full length album "While I was Gone" 
		cracked the top #200 on the iTunes pop charts, and "The Recluse - EP"
		peaked at #25 in the world on the iTunes Singer Songwriter charts. He 
		was also a casting finalist on NBC's "The Voice." He is currently 
		working on his next full length album, "Getting Good at Starting Over," which 
		he has started recording at the famous studio in the Nordeast part of 
		Minneapolis, The Terrarium.
	</p>
	<%= image_tag(@youngpreston, width: 400, id: "young") %>
</section>