<% provide(:title, "Alchemist - Contact") %>

<section class="centered" id="main">
	<h1>Contact</h1>
	
	<p>
	  Anthony Hoff
	  <br />    
    Phone - 612-217-4255
    <br />
    Email – alchemistprintingcompany@gmail.com
  </p>

</section>