<% provide(:title, "APC - FAQ") %>

<section class="centered" id="main">
	<h1>FAQ</h1>
	
	<ul>
	  <li>What is screen printing?</li>
    <li>Proof?</li>
    <li>Shipping?</li>
    <li>Turnaround?</li>
    <li>Rush jobs?</li>
    <li>Minimum order?</li>
    <li>Max print size?</li>
    <li>Design Services?</li>
    <li>Payment?</li>
  </ul>

</section>