<% provide(:title, "Alchemist - Gallery") %>

<section class="centered" id="main">
	<h1>Gallery</h1>
	
	<% for i in (1..4) do %>
		<%= image_tag("/assets/model#{i}.jpg", id: "model#{i}", class: "gallery_image", width: "30%")%> 
	<% end %>


</section>