<% provide(:title, "Alchemist - Gallery") %>

<section class="centered" id="main">
	<h1>Gallery</h1>
	
	<%= image_tag("/assets/model1.jpg", id: "model1")%>
	<%= image_tag("/assets/model2.jpg", id: "model2")%>
	<%= image_tag("/assets/model3.jpg", id: "model3")%>
	<%= image_tag("/assets/model4.jpg", id: "model4")%>


</section>