<% provide(:title, "Home") %>
<section class="center border" id="main">
	<%= image_tag("/assets/photos/small/on-stage.jpg", width: 580, id: "cover")%>

	<%= image_tag(@model_src, width: 300, id: "model") %>

	<article>
		"Singers and Musicians are some of the most driven, courageous people on the 
		face of the earth. They deal with more day-to-day rejection than most people 
		do in a lifetime. Every day, they face the financial challenge of living a 
		freelance lifestyle, the disrespect of people who think they should get real 
		jobs, and their own fear that they'll never work again. Every day, they have 
		to ignore the possibility that the vision they have dedicated their lives to
		is a pipe dream, With every note, they stretch themselves, emotionally and 
		physically , risking criticism and judgement. With every passing year, many 
		of them watch as the other people their age achieve the predictable 
		milestones of a normal life - the car, the family, the house, the nest egg. 
		Why? Because the musicians and singers are willing to give their entire 
		lives to a moment - to that melody, that lyric, that chord, or that
		interpretation that will stir the audience's soul. Singers and Musicians are 
		beings who have tasted life's nectar in the crystal moment when they poured 
		out their creative spirit and touched another's heart. In that instant, they 
		were as close to magic, God, and perfection as anyone could ever be. And in 
		their own hearts, they know that to dedicate oneself to that moment is worth 
		a thousand lifetimes." <br> - David Ackert, LA Times
	</article>
	
</section>