<% provide(:title, "APC - Home") %>

<section class="centered" id="main">	
	<p>
	  A.P.C. is a locally owned and operated screen printing shop in heart of NE MPLS.
    Specializing in printing custom artwork by hand.
  </p>

</section>