<% provide(:title, "Alchemist - Home") %>

<section class="centered" id="main">	
	<p>
	  A.P.C. is a locally owned and operated screen printing shop in heart of Northeast Minneapolis.
    We specialize in hand printing unique designs on a variety of substrates.
  </p>

</section>