<% provide(:title, "Merch") %>
<section class="center border" id="main">
    <h2>Find Preston's new album and more over at <a href="http://prestongunderson.bandcamp.com/">BandCamp</a>!
    <br />
    <br />
    <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=193829187/size=medium/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://prestongunderson.bandcamp.com/album/getting-good-at-starting-over">Getting Good At Starting Over by Preston Gunderson</a></iframe>
    <br /> <br />
    <a href="http://prestongunderson.bandcamp.com/">
      <section id="album-hard">
        <%= image_tag "/assets/album-hard.jpg", size: "140x140" %>
        <h4>Getting Good at Starting Over (Hard Copy) - $12</h4>
      </section>
    </a>
    <a href="http://prestongunderson.bandcamp.com/">
      <section id="poster">
        <%= image_tag "/assets/poster.jpg", size: "90x90" %>
        <h4>Getting Good at Starting Over Poster - $5</h4>
      </section>
    </a>
    <a href="http://prestongunderson.bandcamp.com/">
      <section id="shirt">
        <%= image_tag "/assets/shirt.jpg", size: "100x100" %>
        <h4>Getting Good at Starting Over T-Shirt - $25</h4>
      </section>
    </a>
    <br />
</section>
