<% provide(:title, "Music") %>
<section class="center border" id="main">
  <p class="indent">Click on an album to view it in iTunes</p>
	<% @albums.each do |album| %>
		<section class='album'>
			<%= link_to( image_tag(album[1]), album[0] ) %>
			<p> <%= album[2] %> </p>
		</section>
	<% end %>
</section>