<% provide(:title, "Alchemist - Pricing / Artwork") %>

<section class="centered" id="main">
	<h1>Pricing / Design Specs</h1>
	
  <h3>Design Specs</h3>

  <p>
    Please submit custom design work in one of the following formats with colors separated:
	<ul>
		<li>Formats</li>
		<li>We</li>
		<li>Accept</li>
	</ul>
	If those formats aren't accessible, .jpg larger than 300dpi may also be acceptable.
	Designs that do not meet these criteria will be returned for reformatting.
	Designs returned for reformatting may delay the timeline of finished work.
  </p>
  
  <h3>General Terms</h3>

  <p>
    We will start working on your job once we have a deposit of 50% or the cost of material, whichever is greater. <br />
    Our standard turnaround is 10 business days. <br />
    Rush orders under 10 business days will be subject to 50% surcharge of printing cost. Under 3 days will be 100% of printing cost. <br />
    We accept cash, checks, credit cards and paypal. There is a 4% surcharge for paypal and credit card payments. <br />
    Payment is due in full when the project is picked up. Shipping is available at the cost of the client. <br />
    Client is responsible for checking that their order is complete at time of pickup. Once an order leaves our shop, we are not responsible for any damages to prints or discrepancies in quantity.<br />
    Some shirt styles or colors may be on back order, this can push back production time. We recommend having multiple choices ready when ordering. <br />
    Any garment provided by the client will be subject to sales tax. <br />
  </p>

  <h3>Pricing</h3>
  
  <p>
  Pricing is   based on a number of variables for all of our services. Please provide us with artwork, what you would like printed (t shirt, hoodie, brand, ect.), and quantity. <br />
    *Here is where I would like a basic quote generator for select garments. <br />
    I'd prefer the info sent to me so I can email with the client. <br />
    We do not have a price sheet online. If you would like to know more about pricing of your project please email <a href="mailto:alchemistprintingcompany@gmail.com">alchemistprintingcompany@gmail.com</a>. <br />
  </p>

</section>