<% provide(:title, "APC - Services") %>

<section class="centered" id="main">
	<h1>Welcome!</h1>
	
	<ul>
	  <li>Apparel types</li>
    <li>Art specs</li>
    <li>Ink and printing</li>
  </ul>

</section>