<% provide(:title, "APC - Services") %>

<section class="centered" id="main">
	<h1>Services</h1>
	
  <h3>Garment printing</h3>

  <p>
    We are capable of printing up to 6 colors. 
    13"x18" is the max size of prints for garments large enough.
    We can offer printing on almost any brand, cut, and color. Here is a list of our favorites: Gildan, Canvas, American Apparel. 
    Specialty inks available in puff, glow in the dark, and foil printing.
    Garments that are XXL or larger may be subject to surcharges.
  </p>

  <h3>Coozies</h3>

  <p>
    One or two sided. Available in a wide variety of colors.
  </p>

  <h3>Dye Sublimation</h3>

  <p>
    This process requires printing on white, 100% polyester. Sublimation is capable of full color images with lower cost potential compared to screen printing.
    13"x19" max print area.
  </p>

  <h3>Paper</h3>

  <p>
    Endless number of colors.
    Max print size 28"x30".
  </p>

</section>