<% provide(:title, "APC - Services") %>

<section class="centered" id="main">
	<h1>Services</h1>
	
  <h3>Garment printing</h3>

  We are capable of printing up to 6 colors. 
  13"x18" is the max size of prints for garments large enough.
  We can offer printing on almost any brand, cut, and color. Here is a list of our favorites: Gildan, Canvas, American Apparel. 
  Specialty inks available in puff, glow in the dark, and foil printing.
  Garments that are XXL or larger may be subject to surcharges.

  <h3>Coozies</h3>

  One or two sided. Available in a wide variety of colors.

  <h3>Dye Sublimation</h3>

  This process requires printing on white, 100% polyester. Sublimation is capable of full color images with lower cost potential compared to screen printing.
  13"x19" max print area.

  <h3>Paper</h3>

  Endless number of colors.
  Max print size 28"x30".

</section>