<% provide(:title, "Alchemist - Services") %>

<section class="centered" id="main">
	<h1>Services</h1>
	
  <h3>Apparel printing</h3>

  <p>
    We offer a variety of ink colors and are capable of printing up to six color on each design.
	Specialty inks such as puff, glow in the dark, and foil printing are available as well.
	Artwork for print design can vary in size with a maximum of 13" x 18".
	We offer almost any brand, cut, and color garment with our favorite brands being: Gildan, Canvas, and Americal Apparel.
	Items that are XXL or lager may be subject to surcharges.
  </p>

  <h3>Coozies</h3>

  <p>
    Single or double sided printing available for collapsable coozies.
	Available in a variety of colors.
  </p>

  <h3>Dye Sublimation</h3>

  <p>
    Dye sublimation is a process where full color images are printed on 100% white polyester.
	This allows for full color images to be printed at a lower cost to the client compared to classic screen printing.
	The maximum print area for this process is 13" x 19".
  </p>

  <h3>Paper</h3>

  <p>
    Posters/Cards: Printing available on a variety of paper weights and colors.
	Maximum print area for posters is 28" x 30".
  </p>

</section>