<% provide(:title, "Tour") %>
<section class="center border" id="main">
	<script type='text/javascript' src='http://www.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/Preston%20Gunderson" class="bit-widget-initializer" data-artist="Preston Gunderson" data-force-narrow-layout="true" data-display-limit="5">Bandsintown</a>
</section>