<% provide(:title, "Videos") %>
<section class="center border" id="main">
	<article>"Never let success get to your head and never let failure get to your heart."</article>
	<iframe width="560" height="315" src="<%= @video_url %>" frameborder="0" id="vid" allowfullscreen></iframe>
</section>