.simple_form {
  div.input {
    .bad {
      position: relative;
      bottom: 220px;
      margin-bottom: 10px;
      width: 200px;
    }

  }
  input.radio_buttons, input.check_boxes {
    margin-right: 5px;
  }
  #subscribe-button {
    position: relative;
    bottom: 360px;
   }

  .alert-error {
    color: #D00;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .hint, .error {
    clear: left;
    font-size: 12px;
    color: #D00;
    display: block;
  }
  .hint {
    color: #555;
    font-style: italic;
  }
}