@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body {
	background: #777;
}

/* Classes */
.center {
	background: #fff;
	margin: {
		left: auto;
	}
}

.gallery_image {
	padding: {
		left: 75px;
		right: 75px;
		bottom: 100px;
	};
	margin: {
		left: auto;
	}
}

/* Predefined Tags */
h1 {
	text-align: center;
}

/* IDs */
#logo {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 10%;
}

#main {
	height: 850px;
	width: 850px;
}

.centered {
	margin-top:20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	background: #fff;
	width: 850px;
}

h3 {
	padding-left: 50px;
}

p {
	font-family: 'Roboto Slab', serif;
	padding-left: 50px;
	padding-right: 50px;
}

ul {
	padding-left: 50px;
	padding-right: 50px;
}

nav {
  ul {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    bottom: 10px;
  }
  li {
  	font-family: 'Roboto Slab', serif;
    font-size: 115%;
    font-weight: bold;
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
  }
  a, a:active, a:visited {
    color: #666;
  }

  a:hover {
    color: #444;
    text-decoration: none;
  }
}

