@import "bootstrap";

body {
  background: #777;
}

/* Classes */
.center {
	background: #fff;
	margin: {
		left: auto;
	}
}

/* Predefined Tags */
h1 {
  text-align: center;
}

/* IDs */
#logo {
  margin-top: 25px;
  margin-left: 10%;
}

#main {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 1000px;
}

