<section class="centered">
	<section id="sociallinks">
		<a href="https://www.facebook.com/alchemistprintingcompany"><%= image_tag '/assets/social/facebook.png'%></a>
		<a href="https://twitter.com/alchemistprint"><%= image_tag '/assets/social/twitter.png'%></a>
	</section>
	<p id="address">
		Alchemist Printing Company <br />
		612-217-4255 <br />
		ADDRESS
	</p>
</section>