<section class="centered">
	<section id="sociallinks">
		<a href="http://www.facebook.com"><%= image_tag '/assets/social/facebook.png'%></a>
		<a href="http://www.twitter.com"><%= image_tag '/assets/social/twitter.png'%></a>
	</section>
	<p id="address">Alchemist Printing Company 612-217-4255 ADDRESS</p>
</section>